{% extends 'layout/base.html' %}
{% load static %}
{% block content %}


<div class="d-flex gap-3 align-items-center">
    <h1>Questions</h1>
    <a href="{% url 'index' %}" class="text-decoration-none text-primary">New Questions</a>
</div>

<div class="col-9">

    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border rounded mb-3 shadow-sm p-1">
                    <img class="img-fluid rounded" src="{% static 'img/python.jpg' %}" alt="Avatar" />
                </div>
                <input class="form-control form-control-sm" type="number" value="5" placeholder="Default input"
                    aria-label="default input example" />
            </div>
            <div class="col-9">
                <h3 class="card-title">{{ question.title }}</h3>
                <p class="card-text card-text text-muted">{{ question.text }}</p>
                <div class="d-flex gap-5">
                    <div class = "d-flex flex-wrap align-items-center gap-2">
                        <span class="fw-bold">Tags:</span>
                        {% for tag in question.tags %}
                        <a href="{% url 'tag' tag %}" class="btn btn-outline-primary btn-sm">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <hr class="mt-5 my-4" style="border-top: 2px solid;">
        <div class="d-flex flex-column gap-3 mt-3">
            {% for answer in answers %}
                {% include "layout/answer.html" %} 
            {% endfor %}
            {% include 'layout/pagination.html' %}
        </div>
        <hr class="mt-4 my-4" style="border-top: 2px solid;">
    </div>
    <div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter your answer:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button class="btn btn-primary mb-4" type="button">Answer</button>
    </div>
</div>

{% endblock content %}