{% extends 'layout/base.html' %}
{% load static %}
{% block content %}


<div class="d-flex gap-3 align-items-center">
    <h1>Question</h1>
    <a href="{% url 'index' %}" class="text-decoration-none text-primary">New Questions</a>
</div>

<div class="col-9">

    <div class="question-body" data-question-id="{{ question.id }}">
        <div class="row">
            <div class="col-3">
                <div class="border rounded mb-3 shadow-sm p-1">
                    {% if question.author.avatar %}
                    <img class="img-fluid rounded" src="{{ question.author.avatar.url }}" alt="Avatar" />
                    {% else %}
                    <img class="img-fluid rounded" src="{% static 'img/base_avatar.jpg' %}" alt="Default Avatar" />
                    {% endif %}
                </div>
                <input class="form-control form-control like-counter" type="number" value="{{ question.like_count }}"
                    placeholder="Default input" aria-label="default input example" readonly />
                {% if request.user.is_authenticated %}
                    <div class="mt-3 d-flex justify-content-between">
                        <button class="btn btn-primary like-button" type="submit" style="flex: 1; margin-right: 5px;"
                            data-liked="{{ has_liked }}">.</button>
                    </div>
                {% endif %}
            </div>
            <div class="col-9">
                <h3 class="card-title">{{ question.title }}</h3>
                <p class="card-text card-text text-muted">{{ question.body }}</p>
                <div class="d-flex gap-5">
                    <div class="d-flex flex-wrap align-items-center gap-2">
                        <span class="fw-bold">Tags:</span>
                        {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag %}" class="btn btn-outline-primary btn-sm">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <hr class="mt-5 my-4" style="border-top: 2px solid;">
        <div class="d-flex flex-column gap-3 mt-3">
            <h1>Answers</h1>
            {% for answer_like in answers_likes %}
            {% include "layout/answer.html" %}
            {% endfor %}
            {% include 'layout/pagination.html' %}
        </div>
        <hr class="mt-4 my-4" style="border-top: 2px solid;">
    </div>
    {% if request.user.is_authenticated %}
    <form action="{% url 'one_question' question.id %}" method="POST">
        {% csrf_token %}
        <div>
            <div class="mb-3">
                <label for="{{form.body.id_for_label}}" class="form-label">Enter your answer:</label>
                <textarea class="form-control" id="{{ form.body.id_for_label }}" name="{{ form.body.name }}" rows="5"
                    style="max-height: 200px; overflow-y: auto;"
                    placeholder="Enter a answer" >{{ form.body.value|default_if_none:'' }}</textarea>
                {% if form.body.errors %}
                <div class="alert alert-danger mt-2" style="padding: 0.25rem 0.5rem;">
                    {% for error in form.body.errors %}
                    <p class="mb-0">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <button class="btn btn-primary mb-4" type="submit">Answer</button>
        </div>
    </form>
    {% endif %}
</div>

<script src="{% static 'js/question_like.js' %}"></script>
<script src="{% static 'js/answer_like.js' %}"></script>
<script src="{% static 'js/correct_answer.js' %}"></script>

{% endblock content %}