{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AskPupkin</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand" href="{% url 'index' %}">AskPupkin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                </form>

                <div class="d-flex gap-1">
                    <div>
                        <a href="{% url 'signup' %}" class="me-2 text-decoration-none text-primary"> Register</a>
                        <a href="{% url 'login' %}" class = "text-decoration-none text-primary">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container mt-3">

        <div class="row">

            {% block authorization %}

            {% endblock %}
            <div class="col-3">
                <selection>
                    {% for tag in tags %}
                    <button type="button" class="btn btn-primary mt-2 ">
                        <a class="text-reset text-decoration-none" href="{% url 'tag' tag %}">{{tag}}</a>
                    </button>
                    {% endfor %}
                </selection>
                <selection>
                    <h2 class="mt-5">Best Members</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="#">Member</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Member</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Member</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Member</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Member</a>
                        </li>
                    </ul>
                </selection>
            </div>
        </div>
    </main>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>