{% load static %}

<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border rounded mb-3 shadow-sm p-1">
                    <img class="img-fluid rounded" src="{% static 'img/python.jpg' %}" alt="Avatar" />
                </div>
                <input class="form-control form-control-sm" type="number" value="5" placeholder="Default input"
                    aria-label="default input example" />
            </div>
            <div class="col-9">
                <h5 class="card-title mb-3">
                    <a href="{% url 'one_question' question.id %}" class="text-decoration-none text-primary">{{ question.title }}</a>
                </h5>
                <p class="card-text text-muted">{{ question.text }}</p>

                <div class="d-flex align-items-center gap-3 mt-3">
                    <a href="#" class="card-link text-decoration-none text-primary">Answer (3)</a>
                    <div class = "d-flex flex-wrap align-items-center gap-2">
                        <span class="fw-bold">Tags:</span>
                        {% for tag in question.tags %}
                        <a href="{% url 'tag' tag %}" class="btn btn-outline-primary btn-sm">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>