{% load static %}


<div class="card w-100 shadow-sm answer-body" style="width: 18rem;"
    data-question-id="{{ answer_like.answer.question.id }}" data-answer-id="{{ answer_like.answer.id }}">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border mb-2">
                    {% if answer_like.answer.author.avatar %}
                    <img class="img-fluid rounded avatar" src="{{ answer_like.answer.author.avatar.url }}" alt="Avatar" />
                    {% else %}
                    <img class="img-fluid rounded avatar" src="{% static 'img/base_avatar.jpg' %}" alt="Default Avatar" />
                    {% endif %}
                </div>
                <input class="form-control answer-like-counter" type="number"
                    value="{{ answer_like.answer.like_count }}" placeholder="0" aria-label="0" readonly>
                {% if request.user.is_authenticated %}
                <div class="mt-3 d-flex justify-content-between">
                    <button class="btn btn-primary answer-like-button" type="submit" style="flex: 1; margin-right: 5px;"
                        data-liked-answer="{{ answer_like.answer_has_like }}"> sdf </button>
                </div>
                {% endif %}
            </div>
            <div class="col-9">
                <h4 class = "username">Answer from {{ answer_like.answer.author.user.username }}:</h4>
                <p class="card-text content">{{ answer_like.answer.body }}</p>
                <div class="d-flex gap-5">
                    <div class="form-check">
                        {% if request.user.is_authenticated and answer_like.answer.question.author == request.user.profile %}
                            <div class="mt-3 text-center" 
                                style=" position: absolute;bottom: 20px; padding: 5px 10px;">
                                <input class="form-check-input correct" type="checkbox" value="false" 
                                    {% if answer_like.answer.is_correct %}checked{% endif %}>
                                <label class="form-check-label">
                                    Correct!
                                </label>
                            </div>
                        {% endif %}

                        {% if answer_like.answer.question.author != request.user.profile and answer_like.answer.is_correct %}
                            <div class="alert alert-success alert-sm mt-3 text-center correct-tr" 
                                style=" position: absolute;bottom: 10px; padding: 5px 10px;" role="alert">
                                It is correct answer!
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>