{% load static %}

<div class="card w-100 shadow-sm" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border mb-2">
                    {% if answer.author.avatar %}
                        <img class="img-fluid rounded" src="{{ answer.author.avatar.url }}" alt="Avatar" />
                    {% else %}
                        <img class="img-fluid rounded" src="{% static 'img/base_avatar.jpg' %}" alt="Default Avatar" />
                    {% endif %}
                </div>
                <input class="form-control" type="number" min="{{ answer.like_count }}" max="{{ answer.like_count | add:+1 }}" placeholder="0"
                    aria-label="0">
            </div>
            <div class="col-9">
                <p class="card-text">{{ answer.body }}</p>
                <div class="d-flex gap-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label" >
                            Correct!
                        </label>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>