{% load static %}

<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border rounded mb-3 shadow-sm p-1">
                    <img class="img-fluid rounded" src="{% static 'img/python.jpg' %}" alt="Avatar" />
                </div>
                <input min = "{{ question.like_count }}" max="{{ question.like_count | add:+1 }}" 
                    class="form-control form-control-sm" type="number" value="{{ question.like_count }}" 
                    placeholder="Default input" aria-label="default input example" />
            </div>
            <div class="col-9">
                <h5 class="card-title mb-3">
                    <a href="{% url 'one_question' question.id %}" class="text-decoration-none text-primary">{{ question.title }}</a>
                </h5>
                <p class="card-text text-muted">{{ question.body }}</p>

                <div class="d-flex align-items-center gap-3 mt-3">
                    <a href="{% url 'one_question' question.id %}" class="card-link text-decoration-none text-primary">Answer {{ question.answer_count }}</a>
                    <div class = "d-flex flex-wrap align-items-center gap-2">
                        <span class="fw-bold">Tags:</span>
                        {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag %}" class="btn btn-outline-primary btn-sm">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>